* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.header-parraph {
    background-color: #D1891C;
    color: black;
    padding-left: 15px;
}

.header-title {
    background-color: #00669F;
    color: white;
    padding-left: 15px;
    text-align: center;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;

}

.fondo {
    width: 500px;
    height: 302.5px;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.card-image {
    display: flex;
    flex-direction: column;
}

.div-div-image {
    text-align: center;
    margin-top: -75px;
}

.corazon {
    width: 40px;
    height: 30px;
}

.corazon:hover {
    background-color: transparent;
    border: solid 2px transparent;
}

.div-corazon {
    position: relative;
    bottom: 365px;
    padding-left: 10px;
}

.card-text {
    text-align: justify;
}

.card-text p{
    padding-left: 20px;
    padding-right: 20px;
}

.card-text h2 {
    text-align: center;
    padding-bottom: 10px;
}

.card-content {
    width: 500px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.container-button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container-button input {
    height: 60px;
    width: 180px;
    background-color: #00669F;
    color: white;
    border: none;
    border-radius: 10px;
  
}

.container-button input:hover {
    height: 60px;
    width: 180px;
    background-color: #00669F;
    color: white;
    cursor: pointer;


}

.container-padding {
    padding-top: 25px;
    padding-bottom: 25px;
    padding: 100px;
}

footer {
    background-color: #00669F;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;

}

footer p {
    width: 100%;
    text-align: center;
}

.github-icon {
    width: 80px;
    height: 40px;
}

@media screen and (max-width: 600px) {
    .header-parraph {
        width: 100%;
    }

    .header-title {
        width: 100%;
    }
    .card-content {
        width: 300px;
        background: #F3F3F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }

    .fondo {
        width: 300px;
        height: 202.5px;
    }

    .div-corazon {
        position: relative;
        bottom: 270px;
        padding-left: 10px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-padding {
        padding: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
        
    }

}


@media screen and (min-width: 600px) and (max-width: 1024px) {
    .card-content {
        width: 300px;
        background: #F3F3F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }

    .fondo {
        width: 300px;
        height: 202.5px;
    }

    .div-corazon {
        position: relative;
        bottom: 270px;
        padding-left: 10px;
    }
    .container-padding {
        padding: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
        
    }
    
    
}



.plus{
    display: flex;
    justify-content: flex-end;
}

.plus p{
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00669F;
    color: white;
    justify-content: center;
    align-items: center;
}